$text-color: #cbd5e1
$bg-color: #27272a

*
    box-sizing: border-box

    
html, body
    width: 100%
    height: 100%
    box-sizing: content-box
    margin: 0
    
body
    font-family: Lato, sans-serif
    font-size: 16px
    line-height: 24px
    font-weight: 400

    color-scheme: light dark
    color: rgba(255, 255, 255, 0.87)
    background-color: darken($bg-color, 2%)

    font-synthesis: none
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-text-size-adjust: 100%

.logoandnavbar
    background-color: $bg-color

@keyframes bar-left-on
    0%
        left: 50%
    100%
        left: 0

@keyframes bar-right-on
    0%
        right: 50%
    100%
        right: 0
        
.bar-left, .bar-right
    height: 5px
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%)
    background-size: 200%

    content: ''
    position: fixed
    top: 0

    animation-duration: 0.5s
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1)
    animation-iteration-count: 1

    &.on, &.off
        animation-play-state: running
        
    &.off
        animation-direction: reverse

.bar-left
    left: 0
    right: 50%
    
    background-position-x: 0

    animation-name: bar-left-on
    animation-play-state: paused

    &.off
        left: 50%
        

.bar-right
    left: 50%
    right: 0

    background-position-x: 100%

    animation-name: bar-right-on
    animation-play-state: paused

    &.off
        right: 50%

    


@keyframes textanim
    from
        background-position: 0 0
    to
        background-position: 200% 0 
        

.logo
    width: 100%

    padding-top: 20px
    padding-bottom: 10px
    text-align: center
    font-family: Pacifico, serif

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    line-height: 200%
    
    &>a
        font-size: 28px
        text-decoration: none
        
        //background-color: #85FFBD
        background-image: linear-gradient(90deg, #85FFBD 0%, #FFFB7D 50%, #85FFBD 100%)
        background-size: 200%
        background-position: 0px 0px
        background-repeat: repeat-x

        animation: textanim 5s linear infinite

        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

        margin-bottom: 8px



    &>.divider
        display: block
        width: 180px
        height: 2px

        background-color: #85FFBD
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%)

.navbar
    width: 100%
    height: 48px
    
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

    font-size: 14px

    gap: 5%

    &>a
        text-align: center
        text-decoration: none
        color: $text-color
        text-transform: uppercase
        font-weight: 700

.content
    padding: 30px
    width: 100%
    box-sizing: border-box

.text-center
    text-align: center

.faq-page
    display: flex
    flex-direction: column
    align-items: center

.faq
    list-style: none
    counter-reset: item

    & > li
        counter-increment: item
        margin-bottom: 5px
        text-align: left

.faq-question
    display: flex
    width: 100%
    
    flex-direction: row

.faq-counter
    min-height: 100px

    width: 10%
    background: darken($bg-color, 2%)

    display: flex
    justify-content: center
    align-items: center

    &::before
        content: counter(item)
        font-size: 36px
        font-weight: 700
        font-family: Pacifico
    
.faq-content
    padding: 30px
    width: 100%

    display: flex
    flex-direction: column
    justify-content: center

    background-color: $bg-color
    & .faq-text>h3
        margin-block-start: 0
        margin-inline-start: 0

.faq-title
    text-align: center

.p-15
    padding: 0 10%

.text-secondary
    font-size: 14px
    font-weight: 300
    color: lighten($bg-color, 50%)

.break
    display: block
    line-height: 120%

.products
    width: 100%

    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

.product-list
    margin-top: 70px
    width: 100%
    display: grid
    justify-content: center
    grid-template-columns: repeat(auto-fit, minmax(220px, 330px))
    column-gap: 20px
    row-gap: 40px
    

.product
    height: 400px

    border-radius: 4px

    background-color: $bg-color
    box-shadow: 0 20px 25px -5px rgba(17, 17, 17, 0.1)

    display: grid
    grid-template-rows: 66% 33%


.product-image
    padding: 0
    min-width: 0

    display: flex
    justify-content: center
    align-items: center

    border-bottom: 1px solid transparentize(darken($bg-color, 4%), 0.8)
    box-shadow: 0 4px 2px -2px darken($bg-color, 4%)

    &>img
        max-width: 100%
        max-height: 100%
        object-fit: contain
        object-position: top
        border-top-left-radius: 4px
        border-top-right-radius: 4px
        

.product-text
    padding: 16px 16px

    display: grid
    grid-template-columns: 4fr 1fr
    grid-template-rows: 1fr 2fr

.product-name
    font-size: 18px
    font-weight: 700


.product-desc
    display: flex
    flex-direction: column
    justify-content: flex-end


.block
    display: block
    line-height: 1.3em

.product-btn-area
    display: flex
    justify-content: center
    align-items: flex-end
    
    & > a
        display: block
        width: 40px
        height: 40px
        padding: 8px
        text-align: center
        text-decoration: none
        border-radius: 50%
        color: $bg-color
        font-weight: 700
        line-height: 180%
        //background: #a3e635
        //box-shadow: 0 0px 4px -2px #a3e635

        fill: #a3e635
        stroke: #a3e635
        & > svg
            width: 22px


.terms
    display: flex
    justify-content: center

.terms-text
    width: 80%
    text-align: justify

.terms ul, ol
    list-style-type: none
    padding-inline-start: 0

.big-divider
    width: 100%
    height: 300px

    display: flex
    align-items: center

    &::before
        content: ''
        height: 1px
        width: 100%

        background: $text-color


.cart-product-list
    width: 100%
    display: flex

    flex-direction: column
    gap: 16px
    
    padding: 64px 0

.cart-item
    width: 100%
    height: 160px

    padding: 2%

    border-radius: 4px

    background: $bg-color
    box-shadow: 0 4px 2px -4px darken($bg-color, 4%)

    display: grid
    grid-template-areas: "img desc price" "img desc actions"
    grid-template-columns: 1fr 4fr 2fr
    grid-template-rows: 70% 30%

.cart-item-img
    grid-area: img
    
    display: flex
    justify-content: center
    align-items: center

    & > img
        width: 100%
        height: 100%
        object-fit: contain

.cart-item-desc
    grid-area: desc
    
    padding: 6px

    display: flex
    flex-direction: column
    justify-content: space-between

.smol-header
    margin: 0
    

.cart-item-price
    grid-area: price
    
    padding: 6px
    text-align: right

.cart-item-actions
    grid-area: actions

    display: flex
    flex-direction: row

    justify-content: flex-end
    align-items: flex-end

    gap: 30px

    & > a
        color: lighten($bg-color, 70%)
        text-transform: uppercase
        text-decoration: none
        font-weight: bold
        font-size: 14px

.number-input
    width: 40px


.right-align
    display: flex
    flex-direction: row

    justify-content: flex-end
    gap: 12px

    width: 100%

.btn
    padding: 12px 16px
    border-radius: 4px

    background-color: lighten($bg-color, 2%)
    text-transform: uppercase
    text-decoration: none
    font-weight: bold
    font-size: 12px

    transition: background-color 200ms

    border: none

    &:hover
        background-color: lighten($bg-color, 6%)

    &:active
        background-color: lighten($bg-color, 12%)

.btn-green
    color: #85FFBD

.btn-red
    color: #ef4444

.contact-form
    margin: 65px 0

input[type="text"], input[type="email"], input[type="password"], textarea
    padding: 6px 8px
    display: block

    background: $bg-color

    border: none
    border-radius: 4px

    border: 2px solid lighten($bg-color, 10%)

    color: $text-color

    margin-bottom: 12px

textarea
    width: 350px

.accounts-page
    margin-top: 64px

    width: 100%
    display: flex
    justify-content: center

.accounts-grid
    width: 70%

    display: grid
    justify-items: center

    gap: 8px

    grid-template-rows: 1fr
    grid-template-columns: 1fr 20px 1fr

.accounts-col
    display: flex
    flex-direction: column

    justify-content: center
    align-items: center

    //width: 100%

.btn-full
    width: 100%

.vertical-divider
    min-height: 300px
    height: 100%

    width: 1px
    background: lighten($bg-color, 15%)

